<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Pardus Developers</vendor>
  <vendor_url>http://www.pardus.org.tr/</vendor_url>

  <action id="tr.org.pardus.pkexec.pardus-store">
    <message>Authentication is required to run Pardus Store as root</message>
    <message xml:lang="tr">Pardus Mağazayı çalıştırmak için yetkilendirme gerekli</message>
    <icon_name>pardus-store</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pardus-store</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
